{% extends 'base.html.twig' %}

{% block title %}Traiter | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Traiter</h1>
        </div>
    </div>
</div>

{% endblock %}





{# 
<style>
	.texto {
		font-family: 'Montserrat', sans-serif;
	}
    .containero {
        padding-left: 10%;
        padding-right: 10%;
    }

</style>

<p>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</p>
<div class="richedit_wrap">

	<p><img src="/medias/editor/oneshot-images/6192441516603e8ea30857.png" class="fr-fic fr-dib"></p>

	<p><img src="/medias/editor/oneshot-images/3509022376603e935bd966.png" class="fr-fic fr-dib"></p>

	<p>
		<br>
	</p>

	<p><img src="/medias/editor/oneshot-images/20999596036603e94360591.png" class="fr-fic fr-dib"></p>

	<p>
		<br>
	</p>

	<p><img src="/medias/editor/oneshot-images/9324814606603e94c85d04.png" class="fr-fic fr-dib"></p>
	<div class="row align-items-center containero">
		<div class="col-md-6"><img src="/medias/editor/oneshot-images/6276394176603ff4d3781d.png" class="img-fluid fr-fic fr-dii" alt="Image"></div>
		<div class="col-md-6 texto text-center">

			<h3>D&eacute;couvrez toutes les rubriques de la plateforme et rejoignez la communaut&eacute; Paul-Va PRO d&egrave;s aujourd&#39;hui !</h3>

			<h4 class="fw-bold">Je suis membre de l&#39;universit&eacute;</h4>

			<p>(&eacute;tudiants, dipl&ocirc;m&eacute;s, enseignant ou personnel)</p>
			<a href="https://alumni.univ-montp3.fr/login">
				<button class="btn btn-dark border-0 fw-bold" style="background-color:#c92eff;">M&#39;inscrire</button>
			</a>

			<h4 class="fw-bold">Je suis un recruteur/ une entreprise</h4>
			<a href=""><button class="btn btn-dark fw-bold">Cr&eacute;er ma fiche Entreprise</button></a>
		</div></div></div>
 #}
