{% extends 'base.html.twig' %}

{% block title %}Mentions légales | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="fw-bold">Mentions légales</h1>
        </div>
    </div>
</div>

<section class="container px-4">
    <div class="p-4 container mt-5 bg-light text-body">
	<div class="px-4">

<h4 class="pt-3">1. Présentation du site</h4>
<p class="text-dark"><strong>Propriétaire :</strong> Mme. Anne Fraïsse – Présidente de l'université Paul-Valéry – UNIVERSITÉ PAUL-VALÉRY MONTPELLIER 3 - Route de Mende 34 199 Montpellier Cedex 5</p>
<p class="text-dark"><strong>Hébergeur :</strong> Université Paul-Valéry - MONTPELLIER 3 – Route de Mende 34 199 Montpellier Cedex 5 Standard de l'Université : +33 (0)4 67 14 20 00</p>


<h4 class="pt-3">2. Propriété intellectuelle</h4>
<p class="text-dark">
Tous les contenus présents sur le site web CH, tels que les textes, les images, les vidéos, les texte, les logos qui relèvent de la conception de l'université Paul-Valéry Montpellier 3  demeurent sa propriété.Toute utilisation non autorisée de ces contenus est strictement interdite. En ce qui concerne les créations et contenus publiés par les utilisateurs, ceux-ci restent leur propriété exclusive. Les utilisateurs conservent les droits de propriété intellectuelle sur leurs œuvres et contenus générés et partagés sur la plateforme CH.
</p>


<h4 class="pt-3">3. Lien hypertextes et cookies</h4>
<p class="text-dark">Le site web CH contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec l’autorisation de l'université Paul-Valéry Montpellier 3. Cependant, l'université n’a pas la possibilité de vérifier le contenu des sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait.</p>
<p class="text-dark">La navigation sur le site web CH est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre diverses mesures de fréquentation.</p>
<p class="text-dark">Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.</p>

<h4 class="pt-3">4. Droit applicable et attribution de juridiction</h4>
<p class="text-dark">Tout litige en relation avec l’utilisation du site web CH de l’université Paul-Valéry Montpellier 3 est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Montpellier.</p>

<h4 class="pt-3">5. Conformité RGPD</h4>
<p class="text-dark"><strong>Délégué à la protection des données :</strong>
<br>Sonia GREZE. Université Paul-Valéry - Direction Générale des Services
<br>Bâtiment administratif les Guilhem, Route de Mende - 34070 MONTPELLIER</p>

<p class="text-dark">Pour toute question relative au RGPD, vous pouvez contacter le délégué à la protection des données à l'adresse indiquée ci-dessus ou par mail à <a href="mailto:dpo@univ-montp3.fr">dpo@univ-montp3.fr</a></p>


	</div>
	</div>

</section>
<br>
<br>
{% endblock %}
