{% extends 'base.html.twig' %}

{% block title %}À Propos | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>
<div class="container">
    <section id="video1">
        <video class="p-0 m-0 col-12" autoplay muted loop id="myVideo" playsinline>
            <source src="{{ asset('videos2/apropos2.mp4') }}" type="video/mp4">
        </video>
    </section>

    <section class="row ">

        <div class="col ">
            <div>
                <div class="bkVert p-5 text-start">
                    <p class="fw-bold text-uppercase fs-1 px-lg-5">Corpus <br> Humanum</p>
                    <p class=" fs-4 px-lg-5">Un projet scientifique ambitieux et fédérateur pour les chercheurs en Lettres, Langues, Arts, Sciences Humaines et Sociales.</p>
                </div>
                <div class="p-4">
                    <p class="fw-bold textVert px-2 fs-1">2.1 M€</p>
                    <p class="fw-bold textVert px-2 fs-3">au service de la science</p>
                    <hr>
                </div>
            </div>
        </div>

        <div class="col d-flex align-items-end">
            <div class="">
                <div class="p-1">
                    <p class="fs-4 fw-bold textVert text-uppercase text-center">La donnée et sa trajectoire</p>
                </div>
                <div class="bkVert text-center p-5 ">
                    <img src="{{ asset('images/Logowhite1.png') }}" class="img-fluid" >
                </div>
                <div class="p-5 ">
                    <p class="textVert fs-4">Des corpus hétérogènes et complexes aux enjeux patrimoniaux, techniques et scientifiques</p>
                </div>
            </div>
        </div>

    </section>

    <section class="row bkVert p-5 m-1">
        <div class="col p-3">
            <div class="borderR p-2">
                <p class="fw-bold fs-2">1.<br>Collecte</p>
                <p>Digitalisation et numérisation de données physiaues et analogiques, organisation et stockage des corpus.</p>
            </div>
        </div>

        <div class="col p-3 ">
            <div class="borderR p-2">
                <p class="fw-bold fs-2">2.<br>Manipulation</p>
                <p>Traitement automatisé des formes numériées des artefacts et analyse des productions numériques.</p>
            </div>
        </div>

        <div class="col p-3">
        <div class="p-2">
            <p class="fw-bold fs-2">3.<br>Partage</p>
            <p>Application des principes de la science ouverte, FAIRisation des données et diffusion des corpus.</p>
            </div>
        </div>
    </section>
    
</div>
{% endblock %}