{% extends 'base.html.twig' %}


{% block title %}Access Denied | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <div class="text-center p-5">

        <div class="text-center  ">
            <img src="{{ asset('images/error/forbidden.png') }}" class="img-fluid" style="max-height:25rem;" >
        </div>
        <div class="fs-1"><strong>Access Denied</strong></div>
        <div class="fs-2">Vous n’êtes pas autorisé à accéder à cette page !</div>
            <a href="/">
                <button class="btn btn-dark px-4 my-4">Page d'accueil</button>
            </a>
        </div>    
</div>
{% endblock %}
