{% extends 'base.html.twig' %}


{% block title %}Error Page | Corpus Humanum{% endblock %}

{% block body %}
<style>
            body{
                background: #3e92cc;
                max-height:700px;
                max-width: 100%;
                overflow-x: hidden;

            }
            .c{
                text-align: center;
                display: block;
                position: relative;
                width:80%;
                margin:100px auto;
                color:#fff;

            }
            ._404{
                font-size: 8rem;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 10rem;
                letter-spacing: 15px;
            }
            ._1{
                letter-spacing: 8px;
                font-size: 2.8rem;
            }
            ._2{
                font-size: 2rem;
            }

            .cloud {
                width: 350px; height: 120px;
                background: #FFF;
                background: linear-gradient(top, #FFF 100%);
                background: -webkit-linear-gradient(top, #FFF 100%);
                background: -moz-linear-gradient(top, #FFF 100%);
                background: -ms-linear-gradient(top, #FFF 100%);
                background: -o-linear-gradient(top, #FFF 100%);
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                position: absolute;
                margin: 120px auto 20px;
                z-index:-1;
                transition: ease 1s;
                position: absolute;
            }

            .cloud:after, .cloud:before {
                content: '';
                position: absolute;
                background: #FFF;
                z-index: -1
            }

            .cloud:after {
                width: 100px; height: 100px;
                top: -50px; left: 50px;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
            }

            .cloud:before {
                width: 180px; height: 180px;
                top: -90px; right: 50px;
                border-radius: 200px;
                -webkit-border-radius: 200px;
                -moz-border-radius: 200px;
            }
            
            .x1 {
                top:-50px;
                left:100px;
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                transform: scale(0.3);
                opacity: 0.9;
                -webkit-animation: moveclouds 15s linear infinite;
                -moz-animation: moveclouds 15s linear infinite;
                -o-animation: moveclouds 15s linear infinite;
            }
            
            .x1_5{
                top:-80px;
                left:250px;
                -webkit-transform: scale(0.3);
                -moz-transform: scale(0.3);
                transform: scale(0.3);
                -webkit-animation: moveclouds 17s linear infinite;
                -moz-animation: moveclouds 17s linear infinite;
                -o-animation: moveclouds 17s linear infinite; 
            }

            .x2 {
                left: 250px;
                top:30px;
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                transform: scale(0.6);
                opacity: 0.6; 
                -webkit-animation: moveclouds 25s linear infinite;
                -moz-animation: moveclouds 25s linear infinite;
                -o-animation: moveclouds 25s linear infinite;
            }

            .x3 {
                left: 250px; bottom: -70px;
                -webkit-transform: scale(0.6);
                -moz-transform: scale(0.6);
                transform: scale(0.6);
                opacity: 0.8; 
                -webkit-animation: moveclouds 25s linear infinite;
                -moz-animation: moveclouds 25s linear infinite;
                -o-animation: moveclouds 25s linear infinite;
            }

            .x4 {
                left: 470px; botttom: 20px;
                -webkit-transform: scale(0.75);
                -moz-transform: scale(0.75);
                transform: scale(0.75);
                opacity: 0.75;
                -webkit-animation: moveclouds 18s linear infinite;
                -moz-animation: moveclouds 18s linear infinite;
                -o-animation: moveclouds 18s linear infinite;
            }

            .x5 {
                left: 200px; top: 300px;
                -webkit-transform: scale(0.5);
                -moz-transform: scale(0.5);
                transform: scale(0.5);
                opacity: 0.8; 
                -webkit-animation: moveclouds 20s linear infinite;
                -moz-animation: moveclouds 20s linear infinite;
                -o-animation: moveclouds 20s linear infinite;
            }

            @-webkit-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }
            @-moz-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }
            @-o-keyframes moveclouds {
                0% {margin-left: 1000px;}
                100% {margin-left: -1000px;}
            }

        /* Media query for smaller screens (e.g., mobile phones) */
        @media (max-width: 820px) {
            .c {
                margin: 50px auto;
            }

            .cloud {
                display: none; /* Hide clouds on smaller screens */
            }

            ._404{
                font-size: 4rem;
                height: 6rem;
            }
            ._1{
                letter-spacing: 4px;
                font-size: 2rem;
            }
            ._2{
                font-size: 1.2rem;
            }
        }

        /* Media query for tablets (e.g., iPad) */
        @media (min-width: 820px) and (max-width: 1024px) {
            .c {
                margin: 80px auto;
            }

            ._404{
                font-size: 7rem;
                height: 8rem;
            }
            ._1{
                letter-spacing: 6px;
                font-size: 2rem;
            }
            ._2{
                font-size: 1.5rem;
            }
        }
</style>
<div class="container">
 <div id="clouds">
            <div class="cloud x1"></div>
            <div class="cloud x1_5"></div>
            <div class="cloud x2"></div>
            <div class="cloud x3"></div>
            <div class="cloud x4"></div>
            <div class="cloud x5"></div>
        </div>
        <div class='c'>
            <div class='_404'>404</div>
            <hr>
            <div class='_1 py-3'><strong>La page</strong></div>
            <div class='_2'><strong>n'a pas été trouvée</strong></div>

            <a href="/">
                <button class=" btn btn-light px-4 my-4"><strong>Page d'accueil</strong></button>
            </a>
        </div>
</div>
{% endblock %}
