{% extends 'base.html.twig' %}


{% block title %}Error Page | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>
<div class="container">
    <div class="text-center p-5">

        <div class="text-center  ">
            <img src="{{ asset('images/error/error.png') }}" class="img-fluid" style="max-height:25rem;" >
        </div>
        
        <div class="fs-1"><strong>La page n'a pas été trouvée</strong></div>
            <a href="/">
                <button class="btn btn-dark px-4 my-4">Page d'accueil</button>
            </a>
        </div>    
</div>
{% endblock %}
