{% extends 'base.html.twig' %}

{% block title %}Deposer | Corpus Humanum{% endblock %}

{% block body %}
<style>

</style>

<div class="container mt-5 px-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Deposer</h1>
        </div>
    </div>
</div>
{% endblock %}
