<div class="list-group" style="color: gray;">
    {% for science in pager %}
        <a
            class="list-group-item list-group-item-action"
            href={{ path('science_show', {'id' : science.id}) }}
        >
            {{ science.titre }}
        </a>
    {% else %}
        <div class="list-group-item">Aucun résultat trouvé !</div>
    {% endfor %}
</div>